<head>
    <script src="../src/indexServer.js"></script>
    <script src="../src/indexClient.js"></script>
</head>
<body>
    <div id="pseudo_in_game">
        <p>Pseudo: </p>
    </div>
</body>


<style>
body {
    text-align: center;
}
.board {
    margin: auto;
    width: 350px;
}
.board button {
    height: 100px;
    width: 100px;
    margin: 0px;
    padding: 0px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 3em;
}
</style>
<div class="board">
    <button id="a0"></button> <button id="a1"></button> <button id="a2"></button>
    <button id="b0"></button> <button id="b1"></button> <button id="b2"></button>
    <button id="c0"></button> <button id="c1"></button> <button id="c2"></button>
    <div id="messages"></div>
</div>