<head>
    <script src="../src/index.js"></script>
</head>
<style>
body {
    text-align: center;
}
</style>
<div class="connexion">
    <form action="" method="get" class="form-example">
        <div class="form-example">
            <label for="pseudo">Entrez un pseudo: </label>
            <input type="text" name="pseudo" id="pseudo" required>
        </div>
        <div class="form-example">
            <input type="submit" value="Rejoindre une partie">
        </div>
        <div class="form-example">
            <input type="submit" value="Créer une partie">
        </div>
    </form>
</div>